@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800&amp;display=swap');

* {
    font-family: 'Nunito', sans-serif;
}
body {
    background-color: #000;
}
.aboutUs, .ourTeam {
    box-shadow: inset 0px 20px 20px -10px rgba(0,0,0,0.4);
}

span {
    font-weight: bold;
    color: $primary;
    text-transform: uppercase;
}
a:hover {
    color: $primary !important;
    border-bottom: 1px solid $primary;
}
h1 {
    color: $primary;
    font-weight: bold;
    text-transform: uppercase;
}
h4, h5 {
    font-weight: bold;
    text-transform: uppercase;
}