.aboutUs {
    min-height: 100vh;
    background: url(../assets/wave.svg) whitesmoke bottom center no-repeat;
    background-size: cover;
    .aboutUs_title {
        text-align: center;
    }
    .aboutUs__img {
        min-height: 250px;
        background: url(../assets/aboutus.svg) center center no-repeat;
        background-size: contain;
    }
    .aboutUs__text {
        text-align: justify;
    }
    p {
        margin-bottom: .5rem;
    }
}

@media (max-width: 768px) {
    .aboutUs__img {
        min-height: 200px;
    }
    .aboutUs__text p {
        font-size: 1rem;
    }
}
@media (max-width: 376px) {
    .aboutUs__img {
        min-height: 150px;
    }
    .aboutUs__text p {
        font-size: 0.6rem;
    }
}
@media (max-width: 281px) {
    .aboutUs__text p {
        font-size: 0.55rem;
    }
}