.contact {
    min-height: 90vh;
    background-color: $lightgray;
    .contact__title {
        background-color: #fff;
        min-height: 15vh;
    }
    .container__contact {
        min-height: 75vh;
    }
    .contact__left {
        background-color: #fff;
        border-radius: 1rem;
        box-shadow: 10px 10px 15px 0px rgba(0,0,0,0.1);
    }
    .map__container {
        width: 400px;
        height: 400px;
        background-image: url('https://maps.googleapis.com/maps/api/staticmap?center=40.712776,-74.005974&zoom=12&size=500x500&maptype=roadmap&key=AIzaSyCnIfK1fkE7E3lnXLf0Z_XHJ-1aws0xzLE');
    }
}