.header {
    background: url(../assets/header-background.jpg) center center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}
.navbar-brand {
    background: url(../assets/Logo_Mente_En_Calma_Blanco.png) center center no-repeat;
    background-size: contain;
    width: 200px;
    aspect-ratio: 1 / 1;
}
.navbar-nav {
    background-color: rgba(0, 0, 0, 0.5);
}
.nav-link a {
    font-size: 20px;
}
#typedtext {
    font-size: 3rem;
    margin: 10px 50px;
    letter-spacing: 6px;
    font-weight: bold;
    color: white;
    height: 30vh;
    text-shadow: 2px 2px 8px #000;
}
.navbar {
    // position: fixed;
    // width: 100%;
    background-color: transparent;
    transition: background-color 0.3s ease;
}
a.navbar-brand {
    border-bottom: none;
}
.navbar-scrolled {
    background-color: rgba(0, 0, 0, .9);
}
@media (max-width: 767px) {
    #typedtext {
        font-size: 1.5rem;
    }
    .navbar {
        position: absolute;
    }
    .navbar-nav {
        background-color: rgba(0, 0, 0, .9);
    }
}
@media (max-width: 376px) {
    .navbar-brand {
        width: 150px;
    }
}