.ourTeam {
    min-height: 100vh;
    background-color: darken($color: #fff, $amount: 10);
    color: #ffffff;
    
    .card-title, .card-text {
        text-align: center;
    }
    .container__team {
        height: 100%;
    }
    .profile__img {
        width: 120px;
        aspect-ratio: 1 / 1;
        border-radius: 50%;
    }
    .card-link {
        font-size: .5rem;
    }
    a {
        color: darken($color: $primary, $amount: 10);
    }
    a:hover {
        border-bottom: none;
    }
    .card {
        --bs-card-border-color: none;
        border-radius: 10px;
        background: linear-gradient(145deg, #cacaca, #f0f0f0);
        box-shadow:  20px 20px 60px #bebebe,
                    -20px -20px 60px #ffffff;
    }
}
@media (max-width: 768px) {
    .ourTeam {
        min-height: 100vh;
    }
    .ourTeam .profile__img {
        width: 100px;
        aspect-ratio: 1 / 1;
    }
    .ourTeam .card-title {
        font-size: 1rem;
    }
    .ourTeam .card-text {
        font-size: .75rem;
    }
    .ourTeam .card-link {
        font-size: .5rem;
    }
}
@media (max-width: 376px) {
    .ourTeam .profile__img {
        width: 80px;
        aspect-ratio: 1 / 1;
    }
    .ourTeam .card-title {
        font-size: 1rem;
    }
    .ourTeam .card-text {
        font-size: .75rem;
    }
}
@media (max-width: 281px) {
    .ourTeam .card-link {
        font-size: .3rem;
    }
}