@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800&amp;display=swap");
* {
  font-family: "Nunito", sans-serif;
}

body {
  background-color: #000;
}

.aboutUs, .ourTeam {
  box-shadow: inset 0px 20px 20px -10px rgba(0, 0, 0, 0.4);
}

span {
  font-weight: bold;
  color: #328077;
  text-transform: uppercase;
}

a:hover {
  color: #328077 !important;
  border-bottom: 1px solid #328077;
}

h1 {
  color: #328077;
  font-weight: bold;
}

.header {
  background: url(../assets/header-background.jpg) center center no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
}

.navbar-brand {
  background: url(../assets/Logo_Mente_En_Calma_Blanco.png) center center no-repeat;
  background-size: contain;
  width: 200px;
  aspect-ratio: 1/1;
}

.navbar-nav {
  background-color: rgba(0, 0, 0, 0.5);
}

.nav-link a {
  font-size: 20px;
}

#typedtext {
  font-size: 3rem;
  margin: 10px 50px;
  letter-spacing: 6px;
  font-weight: bold;
  color: white;
  height: 30vh;
  text-shadow: 2px 2px 8px #000;
}

.navbar {
  background-color: transparent;
  transition: background-color 0.3s ease;
}

.navbar-scrolled {
  background-color: rgba(0, 0, 0, 0.9);
}

@media (max-width: 767px) {
  #typedtext {
    font-size: 1.5rem;
  }
  .navbar {
    position: absolute;
  }
  .navbar-nav {
    background-color: rgba(0, 0, 0, 0.9);
  }
}
@media (max-width: 376px) {
  .navbar-brand {
    width: 150px;
  }
}
.aboutUs {
  min-height: 100vh;
  background: url(../assets/ondas.svg) whitesmoke bottom center no-repeat;
}
.aboutUs .aboutUs_title {
  text-align: center;
}
.aboutUs .aboutUs__img {
  min-height: 250px;
  background: url(../assets/aboutus.svg) center center no-repeat;
  background-size: contain;
}
.aboutUs .aboutUs__text {
  text-align: justify;
}
.aboutUs p {
  margin-bottom: 0.5rem;
}

@media (max-width: 768px) {
  .aboutUs__img {
    min-height: 200px;
  }
  .aboutUs__text p {
    font-size: 1rem;
  }
}
@media (max-width: 376px) {
  .aboutUs__img {
    min-height: 150px;
  }
  .aboutUs__text p {
    font-size: 0.6rem;
  }
}
@media (max-width: 281px) {
  .aboutUs__text p {
    font-size: 0.55rem;
  }
}
.ourTeam {
  min-height: 100vh;
  background-color: #e6e6e6;
  color: #ffffff;
}
.ourTeam .card-title, .ourTeam .card-text {
  text-align: center;
}
.ourTeam .container__team {
  height: 100%;
}
.ourTeam .profile__img {
  width: 120px;
  aspect-ratio: 1/1;
  border-radius: 50%;
}
.ourTeam .card-link {
  font-size: 0.5rem;
}
.ourTeam a {
  color: #245b55;
}
.ourTeam a:hover {
  border-bottom: none;
}
.ourTeam .card {
  --bs-card-border-color: none;
  border-radius: 10px;
  background: linear-gradient(145deg, #cacaca, #f0f0f0);
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
}

@media (max-width: 768px) {
  .ourTeam {
    min-height: 100vh;
  }
  .ourTeam .profile__img {
    width: 100px;
    aspect-ratio: 1/1;
  }
  .ourTeam .card-title {
    font-size: 1rem;
  }
  .ourTeam .card-text {
    font-size: 0.75rem;
  }
  .ourTeam .card-link {
    font-size: 0.5rem;
  }
}
@media (max-width: 376px) {
  .ourTeam .profile__img {
    width: 80px;
    aspect-ratio: 1/1;
  }
  .ourTeam .card-title {
    font-size: 1rem;
  }
  .ourTeam .card-text {
    font-size: 0.75rem;
  }
}
@media (max-width: 281px) {
  .ourTeam .card-link {
    font-size: 0.3rem;
  }
}
.callToAction {
  min-height: 10vh;
  background-color: #00171f;
  color: #fff;
  text-align: center;
}
.callToAction .input-group-text, .callToAction .form-control {
  height: 40px;
  background-clip: unset;
}
.callToAction .button__newsletter {
  background-color: #328077;
  color: #fff;
  border: unset;
}

.contact {
  min-height: 90vh;
  background-color: #f7f8fc;
}
.contact .contact__title {
  background-color: #fff;
  min-height: 15vh;
}
.contact .container__contact {
  min-height: 75vh;
}
.contact .contact__left {
  background-color: #fff;
  border-radius: 1rem;
  box-shadow: 10px 10px 15px 0px rgba(0, 0, 0, 0.1);
}
.contact .map__container {
  width: 400px;
  height: 400px;
  background-image: url("https://maps.googleapis.com/maps/api/staticmap?center=40.712776,-74.005974&zoom=12&size=500x500&maptype=roadmap&key=AIzaSyCnIfK1fkE7E3lnXLf0Z_XHJ-1aws0xzLE");
}/*# sourceMappingURL=styles.css.map */